@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --body-color:#212121;
    --accent-color:#2196F3;
    --primary-white-color:#FFFFFF;
    --second-color:#757575;
    --background-color:#2F303A;
    --color-contact:rgba(255, 255, 255, 0.6);
    --button-color:#F5F4FA;
    --grey-color:#AFB1B8;
    --socials-bg: rgba(255, 255, 255, 0.1);
    --bg-glr-text:rgba(47, 48, 58, 0.8);
    /* Other */
    --items: 3;
    --indent: 30px;
}
body {
    font-family:Roboto,sans-serif;
    color:var(--body-color);
    font-size: 14px;
    letter-spacing: 0.03em;
} 
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
 
    /* Flex $ Gap  */
.card-set {
display: flex;
flex-wrap: wrap;
gap:var(--indent);
}
.card-set-item {
    flex-basis: calc(100% - (var(--indent)-1 / var(--indent)) );
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

             /* Flexbox */

/* reset */
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
img{
    display: block;
}
ul,ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color:currentColor;
}
button {
    cursor: pointer;
    border: none;
}

.header-nav {
margin-right: auto;
}

a {
    text-decoration: none;
}
ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
} 
.indent {
    padding-top: 94px;   
}

                /* header */
.header {
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--button-color);
    

}
.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
} 
.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height:1.19;
    letter-spacing: 0.03em;
    color:var(--body-color);
    
}

.logo-blue {
    color:var(--accent-color);
    font-size: 26px;
    line-height: 1.19;
    font-family: Raleway;
    letter-spacing: 0.03em;
    
}
.logo-white {
    color:var(--primary-white-color);
}

.header-nav {
    color:var(--body-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
    padding-left: 93px;
    
}

.header-btn {
    color:var(--body-color);
    padding-left: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
   
}
.color-action {
    color: var(--accent-color);
}
.header-contact{
    margin-left: auto;
}
.header-nav-position {
    position: relative;
    
}
/* .nav-position-action {
     opacity: 1;
    position: absolute;

    border-radius: 2px;
    background-color: var(--accent-color);
    bottom: 0;
    left: 0;
    transform: translate(-100%);

} */

.contact-list{
    color:var(--second-color);
    margin-left: 50px;
    fill: var(--second-color);
    
    
}
.contact-list:nth-child(1){
    margin-left: 0px;
}
.contact-icon {
    margin-right: 10px;
}
.header-grey{
    display: flex;
    align-items: center;
}
.header-grey:hover,
.header-grey:focus{
    color:var(--accent-color);
    fill: var(--accent-color)
}
                /* main */
   
   .main-bg{
    max-width: 1600px;
    background-color: var(--background-color);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    color: var(--primary-white-color);
}
.main-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--primary-white-color);
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
}
.box-icon {
    background-color: var(--button-color);
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    
}
.main-btn-nav {
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.main-btn-style {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height:calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--primary-white-color);
    border: 0px solid var(--accent-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    padding-top: 10px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 10px;
    margin: 30px auto 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
   
}
.main-btn-style:hover,
.main-btn-style:focus {
    color:var(--primary-white-color);
    background-color: var(--accent-color);
    border: 0px solid var(--accent-color);
    border-radius: 4px;
}
.main-portfolio {
    color:var(--primary-white-color);
    cursor:pointer;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    font-style:normal;
    padding-top: 94px;
    padding-bottom: 94px;
}
.main-btn {
    gap: 8px;
    margin-bottom: 56px;
    display: flex;
    justify-content: center;
    border: 0px solid var(--button-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    
}
.btn-portfolio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height:calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--body-color);
    border: 0px solid var(--button-color);
    background-color: var(--button-color);
    border-radius: 4px;
    padding: 6px 22px;
    border-radius: 4px;
}
.btn-portfolio:hover,
.btn-portfolio:focus {
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--primary-white-color);
}
                /* section */

.sect-gall-img {
    background-color: var(--primary-white-color);
    width: 370px;
    
}
.glr-position {
    position: relative;
    overflow: hidden;
}
.glr-position-style {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translate(0%,200%);
    transition: transform 0.5s;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
.sect-gall-img:hover .glr-position-style {
    opacity: 1;
    transform: translate(0);
}
.glr-position-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    padding: 63px 24px;
    
}
.sect-gall-link {
display: block;
}

.sect-gall-link:hover,
.sect-gall-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.skills-icon-block {
    width: 270px;
    height: 120px;
    background-color: var(--button-color);
    margin-bottom: 30px;
    border-radius: 4px;
    text-align: center;
    display: flex;
    align-items: center;
    background-position: center;
    justify-content: center;
}
.skills-item {
    display: flex;
    
}
.item {
    margin-right: 30px;
}
.item:last-child {
    margin-right: 0px;
}
.section-skills h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--body-color);

}
.section-skills p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color:var(--second-color);
}
.section-skills {
    padding-top: 94px;
   
}
.skills-title {
    width: 270px;
    height: 16px;
    
}
.skills-text {
    margin-top: 10px;
    width: 270px;
    height: 72px;
       
}

.work-gallery{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    
    
}
.gallery-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--body-color);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    
}
.img-gallery {
    /* display: flex; */
    color:var(--primary-white-color);
}
.glr-text-position {
    position: relative;
}
.gallery-text-style {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color:var(--bg-glr-text);
    text-align: center;
    position: absolute;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    bottom: 0%;
}
.gallery-list {
    gap: 30px;
    padding-bottom: 94px;
}
            /* Team */

.our-team {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: calc(42 / 36);
text-align: center;
letter-spacing: 0.03em;
color: var(--body-color);
margin-left: auto;
margin-right: auto;
}
.team-list {
    gap: 30px;
   
    
}
.team-gallery {
    width: 270px;
    height: 428px;
    margin-top: var(--indent);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-white-color);
}
.team-name {
margin-top: var(--indent);

}
.team-prof{
margin-top: 10px;

}

.socials-item {
 display: flex;
 justify-content: center;
 gap: 10px;
}

.socials-icon {
    width: 44px;
    height: 44px;
    margin-top: 16px;
}
.socials-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    fill: var(--grey-color);
    border-radius: 50%;
}
.socials-link:hover,
.socials-link:focus {
    fill:var(--primary-white-color);
    background-color:var(--accent-color);
}


.section-team {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--body-color); 
    background-color: var(--button-color);
    padding-bottom: 94px;
    
}
.section-team h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--body-color);
}
.section-team p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--second-color);

}

 .sect-gall-img .section-title{
    color:var(--body-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    margin-bottom: 4px;
   
}
.img-info {
    padding: 24px 20px;
    border: 1px solid #EEEEEE;
    border-top: 0;
}
.section-text{
    color:var(--second-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    text-align: left;
    padding-top: 4px;
}
.clients-section {
    margin-bottom: 94px;
    margin-top: 50px;
    gap: 30px;
}
.clients-section-block {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    text-align: center;
    display: flex;
    align-items: center;
    background-position: center;
    justify-content: center;
    border: 1px solid var(--grey-color);
    border-radius: 4px;
    fill: var(--grey-color);
}
.clients-section-block:hover,
.clients-section-block:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);

}

                /* footer */

.footer {
    font-style:normal;
    background-color: var(--background-color);
    color:var(--body-color);
    padding: 60px 0px;
    
}
 
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
}
 .footer-address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;

}
.address-map {
    color:var(--primary-white-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 231px;
    height: 21px;
    line-height: 1.71;
    letter-spacing: 0.03em;
   
}
.address-contact {
    
    color: var(--color-contact);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 231px;
    height: 21px;
    line-height: 1.71;
    letter-spacing: 0.03em;
   }
.footer-nav {
   margin-bottom: 9px;
}
.footer-socials-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}
.footer-column {
    display: flex;
    align-items: baseline;
    flex-direction: row;
}
.footer-socials {
    margin-left: 60px;
}
.footer-socials-icon {
    width: 44px;
    height: 44px;
    margin-top: 20px;
}
.footer-socials-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    fill: var(--primary-white-color);
    background-color: var(--socials-bg);
    border-radius: 50%;
}
.footer-socials-link:hover,
.footer-socials-link:focus {
    fill:var(--primary-white-color);
    background-color:var(--accent-color);
}